@{ 
    Layout = "_Layout";
}

    @for (int i = 0; i < Model.Count; i++)
    {
        if (i % 2 == 0)
        {
            <div class="contentContainer hvr-grow-shadow">
                <div class="infoContainer">
                    <h3>@Model[i].Title</h3>
                    <p>@Model[i].Description</p>
                    <a href="/Movie/storyDetails/@Model[i].Id" class="btn btn-primary">Read story</a>
                    <br />
                    <br />
                    <div>Posted on: @Model[i].DatePosted</div>
                </div>
                <img src="@Model[i].ImageUrl" />
            </div>
        }
        else
        {
            <div class="contentContainer  hvr-grow-shadow">
                <img src="@Model[i].ImageUrl" />
                <div class="infoContainer2">
                    <h3>@Model[i].Title</h3>
                    <p>@Model[i].Description</p>
                    <a href="/Movie/storyDetails/@Model[i].Id" class="btn btn-success">Read story</a>
                    <br />
                    <br />
                    <div>Posted on: @Model[i].DatePosted</div>
                </div>
            </div>
        }
    }