@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MyBlog.ViewModels.PostModels.HomePageModel>
@{
    Layout = "_Layout";
}

    <form asp-controller="Post" asp-action="HomePage" id="chooseSportContainer">
        <input type="submit" value="Skate" name="category" class="sportLink btn btn-dark text-light hvr-bubble-float-left" />
        <input type="submit" value="Snowboard" name="category" class="sportLink btn btn-dark text-light hvr-bubble-float-left" />
        <input type="submit" value="Rollerblade" name="category" class="sportLink btn btn-dark text-light hvr-bubble-float-left" />
    </form>

@for (int i = 0; i < Model.Count; i++)
{
    if (i % 2 == 0)
    {
        <div class="contentContainer hvr-grow-shadow">
            <div class="infoContainer">
                <h3 class="homePostTitle">@Model[i].Title</h3>
                <p class="homePostDescription">@Model[i].Description</p>
                <a asp-controller="Post" asp-action="storyDetails" asp-route-id="@Model[i].Id" class="btn btn-primary">Read story</a>
                <br />
                <br />
                <div>Posted on: @Model[i].DatePosted</div>
            </div>
            <img class="homeImgs" src="@Model[i].ImageUrl" />
        </div>
    }
    else
    {
        <div class="contentContainer  hvr-grow-shadow">
            <img class="homeImgs" src="@Model[i].ImageUrl" />
            <div class="infoContainer2">
                <h3 class="homePostTitle">@Model[i].Title</h3>
                <p class="homePostDescription">@Model[i].Description</p>
                <a asp-controller="Post" asp-action="storyDetails" asp-route-id="@Model[i].Id" class="btn btn-success">Read story</a>
                <br />
                <br />
                <div>Posted on: @Model[i].DatePosted</div>
            </div>
        </div>
    }
}