@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MyBlog.Data.Post;
@{
    Layout = "_Layout";
}

<div class="container" style="text-align: center; width: 50%;">
    <h3 id="modelTitle">@Model.Title</h3>
    <img class="homeImgs" src="@Model.ImageUrl" />
    <div id="description">@Model.Description</div>
    <iframe width="420" height="315"
            src="https://www.youtube.com/embed/@Model.VideoUrl">
    </iframe>
    <div>
        <span>Posted: @Model.DatePosted</span>
    </div>
    <form asp-controller="Post" asp-action="Index">
        <input name="category" value="@Model.Category" style="display: none"/>
        <input type="submit" value="Go back" class="btn btn-dark text-light" style="margin-top: 20px"/>
    </form>
</div>