@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MyBlog.Models.Post;
@{
    Layout = "_Layout";
}

<div class="container" style="text-align: center; width: 50%;">
    <img src="@Model.ImageUrl" />
    <h1>@Model.Title</h1>
    <div>@Model.Description</div>
    <iframe width="420" height="315"
            src="https://www.youtube.com/embed/@Model.VideoUrl">
    </iframe>
    <div>
        <span>@Model.DatePosted</span>
    </div>
    <form asp-controller="Post" asp-action="Index">
        <input name="category" value="@Model.Category" style="display: none"/>
        <input type="submit" value="Go back" class="btn btn-dark text-light" style="margin-top: 20px"/>
    </form>
</div>