@model List<MyBlog.Models.Post>;

<!DOCTYPE html>
<html>
<head>
    <title>My Movies</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/Hover-master/Hover-master/css/hover.css" />
</head>

<body>
    <nav class="navbar navbar-default">
        <h1 class="text-light">My Blog Site</h1>
    </nav>
    <nav class="navbar navbar-default leftNav">
        <a class="text-light">Some links</a>
        <a class="text-light">Some links</a>
        <a class="text-light">Some links</a>
        <a class="text-light">Some links</a>
        <a class="text-light">Some links</a>
        <a class="text-light">Some links</a>
    </nav>

    <div id="headerContainer">
        <h2>Welcome and Enjoy the latest news</h2>
    </div>

    @for (int i = 0; i < Model.Count; i++)
    {
        if (i % 2 == 0)
        {
            <div class="contentContainer hvr-grow-shadow">
                <div class="infoContainer">
                    <h3>@Model[i].Title</h3>
                    <p>@Model[i].Description</p>
                    <button>Read story</button>
                    <br />
                    <br />
                    <div>Posted on: @Model[i].DatePosted</div>
                </div>
                <img src="@Model[i].ImageUrl" />
            </div>
        }
        else
        {
            <div class="contentContainer  hvr-grow-shadow">
                <img src="@Model[i].ImageUrl" />
                <div class="infoContainer2">
                    <h3>@Model[i].Title</h3>
                    <p>@Model[i].Description</p>
                    <button>Read story</button>
                    <br />
                    <br />
                    <div>Posted on: @Model[i].DatePosted</div>
                </div>
            </div>
        }
    }





    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>